.topbarContainer{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #7fa56f;
    align-items: center;
    position: sticky;
    top: 0; 
    z-index: 999;
}

.topbarLeft{
    flex: 3;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
}

.topbarCenter{
    flex: 5;
}
.searchbar{
    width: 100%;
    height: 30px;
    background-color: #4d723d;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
    color: white;

}
.searchInput::placeholder{
    color: white;
}
.searchInput{
    width: 70%;
    outline: none;
    border: none;
    background-color: #4d723d;
    color: white;


}

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 100%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.topbarImg{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.chatMessage{
    cursor: pointer;
    color: #fff;
  }

  .searchContainerUsers{
    width: 88%;
    max-width: 100%;
    height: 300px;
    background-color:#fff;
    margin-top: 55%;
    margin-left: -68%;
    overflow-y: scroll;
    position: sticky;
    display: none;
  }

  .containerDv{
    width: 100%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between
  }
  .logout{
    cursor: pointer;
    color: #fff;
  }